{% extends "::base.html.twig" %}

{% block title %}{{ 'access_denied.title'|trans() }} - {{ parent() }}{% endblock %}

{% block body %}
    <h1>{{ 'access_denied.title'|trans() }}</h1>
    <p>{{ 'access_denied.message'|trans|raw }}</p>
    <p>Joe</p>
{% endblock %}