{% extends "::base.html.twig" %}

{% block title %}{{ 'Permissions needed'|trans() }} - {{ parent() }}{% endblock %}

{% block body %}
    <h1>{{ 'Sorry, but you do not have the necessary rights to access this ressource.'|trans() }}</h1>
{% endblock %}