# Eclipse
.buildpath
.project

# PHPStorm
.idea/*

# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/brands/*
web/uploads/projects/*
web/uploads/users/*
web/uploads/tmp/*
web/uploads/pdfs/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
/.settings
