# Eclipse
.buildpath
.project

# PHPStorm
.idea/*

# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/brands/*
web/uploads/projects/*
web/uploads/users/*
web/uploads/tmp/*
web/uploads/pdfs/*
web/bundles/*

# Don't allow to use the default ckeditor.js file (from the bundle), and use our own 
!/web/bundles/trsteelckeditor/

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
/.settings
