parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~
    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    # LittleBigJoe Specific Configuration
    locales: [en, fr]
    default_email_address: contact@littlebigjoe.com
    default_url: http://dev.littlebigjoe.com
    nb_elements_by_page: 20
    howdoesitwork_page_id: ~ # Must be the ID of the "How does this website work" (use in Top menu)
    allowed_mime_types: ['application/pdf', 'application/xml', 'application/zip', 'text/csv', 'text/plain', 'application/msword', 'application/vnd.ms-excel', 'application/vnd.oasis.opendocument.text', 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'] # MIME types that will be authorized (for file upload in "Launch my project" section")
    max_file_size: 20971520 # Size in bytes : 20Mo
    allowed_audio_mime_types: ['audio/mpeg', 'audio/mp3', 'audio/x-ms-wma', 'audio/vnd.rn-realaudio', 'audio/x-wav'] # MIME types that will be authorized (for audio file upload in "Launch my project" section")
    max_audio_file_size: 20971520 # Size in bytes : 20Mo
    leetchi_base_url_prod: 'https://api.leetchi.com/'
    leetchi_base_url_preprod: 'http://api-preprod.leetchi.com/'
    leetchi_partner_id: 'adentify'
    leetchi_private_key_file_name: 'mangopay'
    leetchi_private_key_password: 'LBT@2013!Little$Big$Joe$'
    
    # FOSFacebookBundle Configuration
    api_facebook_id: '327514850725218'
    api_facebook_secret: 'a71c47bf7320c5190118f075e1efd116'
    api_facebook_name: 'http://apps.facebook.com/littlebigjoe/'
    api_facebook_server: 'http://dev.littlebigjoe.com/'
    
    # HWIOAuthBundle Configuration
    api_twitter_key: 'm8z0OJ6k1LxTIjnp6ud8KQ'
    api_twitter_secret: 'OHyVibMQoTJGlg80DkckiNeMLVTljnu7CH4Pu1MDpHE'
    api_twitter_baseurl: https://api.twitter.com/1.1