parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~
    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    # LittleBigJoe Specific Configuration
    locales: [en, fr]
    nb_elements_by_page: 20
    howdoesitwork_page_id: ~ # Must be the ID of the "How does this website work" (use in Top menu)