
<script type="text/javascript" src="{{ asset('static/js/modules/progress-bars.js') }}" ></script>
<script type="text/javascript" src="{{ asset('static/js/modules/involve-graph.js') }}" ></script>
<script type="text/javascript" src="{{ asset('static/js/modules/project-carousel.js') }}" ></script>
<script type="text/javascript" src="{{ asset('static/js/modules/tabs-display.js') }}" ></script>

<section>

    <article class="wContent">
        {% include "LittleBigJoeFrontendBundle:includes:utils/content-with-tabs.html.twig" %}
    </article>

</section>