{% extends '::base.html.twig' %}

{% block title %}
    {{ entity.title }} | {{ parent() }}
{% endblock %}

{% block body %}
    <section>
        <article>
            <div class="white-container">
                <div class="article-header">
                    <h2>{{ entity.title }}</h2>
                </div>

                <div class="description-infos">
                    {{ entity.content|raw }}
                </div>
            </div>
        </article>
    </section>
{% endblock %}
