{% extends '::base.html.twig' %}

{% block title %}
    {{ entity.title }} | {{ parent() }}
{% endblock %}

{% block body %}
    <section>
        <article>
            <div class="padding10 white-container">
                <div class="article-header">
                    <h2><span class="grand-hotel">{{ entity.title }}</span></h2>
                </div>

                <div class="nodata">
                    {{ entity.content|raw }}
                </div>
            </div>
        </article>
    </section>
{% endblock %}
