{% extends "::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="default-empty">
        <h1>{{ 'An email has been sent to %email%.'|trans({'%email%': email}) }}</h1>
        <p>{{ 'It contains a link you must click to reset your password.'|trans() }}</p>
    </div>
{% endblock %}
