{% extends "::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="default-empty">
        <h1>{{ 'The password for this user has already been requested within the last 24 hours.'|trans }}</h1>
        <p>{{ 'Please check your emails first, before requesting a new password.' }}</p>
    </div>
{% endblock fos_user_content %}
